.signIn {
  font-size: 14px;
  font-weight: 500;
}

.smallIcon {
  display: inline-block;
  text-align: center;
  width: 30px;
}

@media only screen and (max-width: 600px) {
  .mobile {
    margin-left: 20px;
  }
}

.logo {
  cursor: pointer;
}
