.arrowIcon {
  width: 12px;
  color: var(--primary);
}

.profile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill {
  border: 1px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
  text-align: center;
  display: inline-block;
  padding: 3px 15px;
  margin: 7px;
}

.starIcon {
  width: 18px;
  color: var(white);
  margin-bottom: 2px;
  margin-left: 8px;
}

.portfolioImg {
  width: 200px;
  border: 2px solid var(--secondary-light);
  border-radius: 10px;
}

.cardItem {
  max-width: 200px;
  margin: 10px;
}
.portfolioType {
  text-decoration: underline;
}

.imageIcon {
  width: 18px;
  color: var(--secondary);
  margin-bottom: 3px;
}
.imagesLength {
  font-size: 1em;
  color: var(--secondary);
}
