.picture {
  width: 130px;
  border-radius: 50%;
  border: 1px solid var(--secondary-light);
  margin-right: 20px;
  margin-left: 10px;
}

.info {
  margin-left: 20px;
}

.rightBar {
  margin-left: 0px;
  border-right: 1px solid var(--secondary-light);
}

.smallIcon {
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;
}

.role {
  background-color: black;
  color: white;
  padding: 5px 8px;
  margin-right: 9px;
  border-radius: 5px;
  font-size: 0.85em;
}

.share {
  color: var(--primary);
  border: none;
  background-color: white;
  padding: 0;
  margin: 0;
}

.mediumIcon {
  min-width: 30px;
  max-width: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .mobile {
    margin-top: 20px;
    margin-left: 5px;
  }
  .share {
    color: var(--primary);
    margin-left: 30px;
  }
  .mediumIcon {
    margin-right: 0px;
  }
}
